@import "./reset.css";
@import "./media.css";
@import "./fonts.css";

body{
   font-family: Inter;
   color: #fff;
   background-color: #293B2B;
}
.container{
   max-width: 1222px;
   padding: 0 20px;
   margin: 0 auto;
   height: 100%;
}
.hidden{
   display: none;
}
/*------------ HEADER -------------*/
.header{
   position: sticky;
   top: 0;
   z-index: 100;
   padding: 17px 0;
   background: linear-gradient(0deg, rgba(22, 26, 22, 0.00) -37.5%, #161A16 68%);
}
.header__content{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.enter{
   display: flex;
   align-items: center;
   gap: 19px;
   font-size: 16px;
   font-weight: 600;
}
.log-in button{
   text-decoration-line: underline;
}
.registration{
   background: linear-gradient(149deg, #63D737 0%, #058048 100%);
   border-radius: 100px;
}
.registration button{
   position: relative;
   background: linear-gradient(149deg, #63D737 0%, #058048 100%);
   border-radius: 100px;
   padding: 5px 25px 6px;
}
.btn-bg-img{
   position: absolute;
   z-index: -1;
   left: 0;
   top: 2px;
   bottom: 0;
   right: 0;
}
.registration button:hover >img{
      top: 15px;
      filter: blur(12.5px);
}
/*------------------ MAIN -------------------*/
.main{
   position: relative;
   height: 660px;
}
.deposito{
   position: relative;
   height: 252px;
   z-index: 1;
}
.deposito-minimo{
   position: absolute;
   top: 0;
   right: 0;
   width: 215px;
   border-radius: 0px 0px 25.8px 25.8px;
   background: #FFF;
   box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.60);
   padding: 14px 22px 14.7px;
   color: #293B2B;
   text-align: center;
   font-style: italic;
   font-weight: 900;
   line-height: normal;
}
.min-dep-text{
   font-size: 20px;
}
.min-dep{
   font-size: 28px;
   text-transform: uppercase;
}
.deposito-hasta{
   position: absolute;
      bottom: 0;
      left: 0;
      color: #FFF;
      text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.60);
      font-style: italic;
      font-weight: 900;
      line-height: normal;
}
.bono,
.hasta{
   font-size: 43.557px;
}
.hasta{
   margin-left: 75px;
}
.max-dep{
   font-size: 56.624px;
}
/*------------------ SLIDER -------------------*/
.slider{
   position: relative;
   top: -720px;
   left: 0;
   max-width: 1920px;
   height: 720px;
   overflow: hidden;
   margin: 0 auto;
}
.slider__line{
   display: flex;
   height: 100%;
   position: relative;
   left: 0;
}
.slider__img{
   width: 1920px;
   flex-shrink: 0;
}
.slider__gradient{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(0deg, rgba(41, 59, 43, 0.35) 0%, rgba(41, 59, 43, 0.35) 100%), radial-gradient(58.29% 46.00% at 50.00% 54.00%, rgba(41, 59, 43, 0.00) 50.26%, #293B2B 100%);
}
.slider__stadium-bg{
   background: url(../img/football-stadium.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   height: 100%;
}
.slider__benjamin-bg{
   background: url(../img/benjamin.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   height: 100%;
}
.slider__soccer-funs{
   position: absolute;
   top: 0;
   left: 0;
   right: -17%;
   bottom: 0;
   background: url(../img/soccer-fans.png);
   background-repeat: no-repeat;
   background-position: center;
}
.slider__girl{
   position: absolute;
   top: 0;
   left: 0;
   right: -17%;
   bottom: -55px;
   background: url(../img/girl.png);
   background-repeat: no-repeat;
   background-position: center;
}
.slider__regisration{
   position: absolute;
   top: 373px;
   display: flex;
   flex-direction: column;
   gap: 29px;
   z-index: 2;
   width: 430px;
}
.slider__regisration-text{
text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.60);
font-size: 32px;
font-weight: 600;
line-height: 120%;
}
.slider__regisration span{
   text-transform: uppercase;
}
.slider__registration-btn-bg{
   background: #c2c5c9;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border-radius: 100px;
   padding: 10px;
   transition: transform 0.7s ease;
}
.slider__registration-btn{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background: #eba534;
   border-radius: 100px;
   height: 80px;
   color: #058048;
   text-transform: uppercase;
   font-size: 45px;
   font-weight: 600;
   line-height: 148.9%;
   overflow: hidden;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6);
}
.slider__registration-btn::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   height: 100%;
   z-index: 4;
   background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
   filter: blur(8px);
   transform: translateX(-60px) skew(-45deg);
   animation: move 4s 1s infinite;
}
@keyframes move {
   0% {
      left: 0%;
   }
   100% {
      left: 150%;
   }
}
.slider__registration-btn-bg:hover {
   transform: scale(1.05);
}
.slider__dots-wrapper{
   position: absolute;
   bottom: 25px;
   z-index: 1;
   align-items: center;
   display: flex;
   justify-content: center;
   width: 100%;
}
.slider__dots{
   display: flex;
   align-items: center;
   gap: 10px;
}
.dot{
   width: 10px;
   height: 10px;
   border-radius: 1010px;
   background:  #D9D9D9;
   cursor: pointer;
}
.active-dot{
   background: linear-gradient(149deg, #63D737 0%, #058048 100%);
}
/*------------------ FOOTER -------------------*/
.footer{
   position: relative;
   background: #293B2B;
   padding: 93px 0 56px;
   margin: 0 auto;
   max-width: 1920px;
}
.form__subscribe-form{
   display: flex;
   align-items: center;
   gap: 98.59px;
   margin-bottom: 93px;
}
.form__wrapper{
   flex-grow: 1;
}
.form__label{
   display: flex;
   align-items: center;
   gap: 42px;
   height: 44px;
   padding-left: 2px;
   border-radius: 99.153px;
   background: linear-gradient(149deg, #63D737 0%, #058048 100%);
}
.form__input{
   flex-grow: 1;
   color: #161A16;
   padding: 0 24px;
   height: 40px;
   border-radius: 84.793px;
   background: #FFF;
}
.form__input::placeholder{
   color: #D9D9D9;
   font-size: 17.186px;
   font-weight: 600;
   line-height: 147.828%;
}
.form__btn{
   padding-right: 47px;
}
.payment__row{
   display: flex;
   flex-wrap: wrap;
   gap: 74px;
   align-items: center;
   justify-content: space-between;
}
.payment__row img{
   opacity: 0.7;
}



@media screen and (max-width: 650px){
   .container{
      max-width: 360px;
   }
   /* HEADER */
   .log-in{
      display: none;
   }
   .header{
      padding: 9px 0;
      height: 40px;
   }
   .logo{
      width: 70px;
   }
   .enter{
      font-size: 11px;
   }
   .registration button{
      padding: 4px 16px 4.4px;
   }

   /* MAIN */
   .main{
      height: 800px;
      background-color: #293B2B;
   }
   .deposito{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 24px;
      z-index: 1;
      width: 221.49px;
      height: 143.32px;
   }
   .deposito-minimo,
   .deposito-hasta{
      position: static;
   }
   .deposito-minimo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 211px;
      height: 26px;
      right: auto;
      border-radius: 0px 0px 13.32px 13.32px;
   }
   .deposito-hasta{
      width: 221px;
      text-align: center;
   }
   .min-dep-text{
      display: inline-block;
      font-size: 10.326px;
   }
   .min-dep{
      font-size: 12.33px;
   }
   .bono,
   .hasta {
      font-size: 24.096px;
   }
   .hasta{
      margin-left: 41px;
   }
   .max-dep{
      font-size: 31.324px
   }
   .slider__regisration{
      width: 263px;
      top: 90px;
      position: relative;
      margin: 0 auto;
   }
   .slider__regisration-text{
      font-size: 15.743px;
      text-align: center;
   }
   .slider__registration-btn{
      width: 100%;
      height: 49px;
      text-align: center;
      font-size: 22.019px;
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
   }
   .slider__soccer-funs,
   .slider__girl{
      top: 220px;
      right: 0;
      background-size: cover;
   }
   .slider__girl{
      right: -90px;
   }
   .footer{
      padding: 30px 0 30px;
   }
   .form__subscribe-form{
      margin-bottom: 33px;
   }
   .logo__wrapper{
      display: none;
   }
   .form__subscribe-form{
      justify-content: center;
   }
   .form__label{
      font-size: 12.109px;
      gap: 22px;
   }
   .payment__row{
      gap: 16px;
      justify-content: space-around;
   }
}